<router-outlet></router-outlet>
<!-- <app-nav></app-nav>
<button (click)="createUser()">Crear Usuario</button>
<button (click)="downloadPdf()">Descargar</button>
<p>
  <input (change)="uploadFile($event)" type="file" name="file" id="file">
  <img *ngIf="imgRta" [src]="imgRta" alt="image">
</p>
<app-products></app-products> -->
<!-- <input type="text" [(ngModel)]="imageParent">
<button (click)="toggleImage()">Toggle Image</button>
<p>{{ showImage }}
</p>
<app-img *ngIf="showImage" (loaded)="onLoaded($event)" [image]="imageParent"></app-img>

<app-product [product]="product" *ngFor="let product of products"></app-product> -->
